.cart-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 150px;
}

.cart {
  width: 65%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.cart h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th, .cart-table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.quantity-section {
  display: flex;
  align-items: center;
}

.quantity-section button {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  cursor: pointer;
  color: black;
}

.quantity-section button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.quantity-section input {
  width: 40px;
  text-align: center;
  margin: 0 5px;
}

.remove-btn {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.remove-btn i {
  margin-right: 5px;
}

.price-details {
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.price-details h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.grand-total {
  font-weight: bold;
}

.checkout-btn {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}
